/* General CSS */
@font-face {
    font-family: "yekan";
    src: url("../fonts/BYekan+.ttf");
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-text: #030811;
    --secondry-color: #60cd12;
    /*Font Family*/
    --primary-font: 'yekan'
}

body,
html {
    color: var(--primary-text);
    font-size: 10px;
    font-weight: bold;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}

h3,
p {
    margin: 0;
}

h3 {
    color: var(--primary-text);
    font-size: 2.1rem;
    line-height: 1.2;
    font-weight: bolder;
    margin-bottom: 30px;
}

a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: 0;
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-white);
}

::-webkit-scrollbar-thumb {
    background: var(--secondry-color);
}

.main-btn {
    position: relative;
    color: var(--bg-white);
    background: var(--secondry-color);
    z-index: 1;
    overflow: hidden;
    border-radius: 3.5rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.main-btn:hover {
    background: var(--bg-white);
    color: var(--secondry-color);
    border: 1.5px solid var(--primary-text);
}

.four-zero-four-page {
    margin-top: 8%;
}

.four-zero-four-bg img {
    height: 280px;
    width: 280px;
    margin-bottom: 40px;
}

/*Media Query 768px*/
@media (max-width: 768px) {
    h3 {
        font-size: 1.8rem;
    }

    .four-zero-four-page {
        margin-top: 18%;
    }

    .four-zero-four-bg img {
        height: 200px;
        width: 200px;
        margin-bottom: 40px;
    }
}

@media (max-width: 590px) {
    h3 {
        font-size: 1.5rem;
    }

    .four-zero-four-page {
        margin-top: 30%;
    }

    .four-zero-four-bg img {
        height: 180px;
        width: 180px;
        margin-bottom: 40px;
    }
}







