/* General CSS */
@font-face {
    font-family: "yekan";
    src: url("../fonts/BYekan+.ttf");
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
    /*Background Color*/
    --bg-white: #ffff;
    --bg-dark-color: #03262c;

    /*Text Colors*/
    --primary-text: #061738;
    --secondry-color: #60cd12;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #ffff;
    --text-gray: #dee2e6;
    --anchor-color: #007aff;

    /*Font Family*/
    --primary-font: 'yekan'
}

body,
html {
    color: var(--primary-text);
    font-size: 18px;
    font-weight: bolder;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4,
p {
    margin: 0;
    margin-bottom: 10px;
}


h1 {
    margin-bottom: 60px;
    text-align: center;
}

h4 {
    color: var(--primary-text);
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: bolder;
    margin-bottom: 30px;
}

input {
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-white);
}

::-webkit-scrollbar-thumb {
    background: var(--secondry-color);
}

.main-btn {
    position: relative;
    color: var(--bg-white);
    background: var(--secondry-color);
    z-index: 1;
    overflow: hidden;
    border-radius: 3.5rem;
    padding: .5rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.main-btn:hover {
    background: var(--bg-white);
    color: var(--secondry-color);
    border: 1.5px solid var(--primary-text);
}

.register-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 3rem 2rem 10rem 2rem;
    margin: 4rem 0 5rem 0;
    border: 2px solid var(--bg-dark-color);
    border-radius: 30px;
}

.form-group input,
.form-group select,
.form-control{
    margin-bottom: 30px;
}




.section-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-text);
    margin-bottom: 2rem;
    text-align: center;
    margin: 50px 0 50px 0;
}

.first-title {
    font-size: 2.7rem;
    font-weight: bolder;
}

.section-subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.section-title::after {
    content: "";
    background: var(--secondry-color);
    display: block;
    height: 3px;
    width: 80%;
    margin: 30px auto;
    margin-bottom: 0;
}

.row{
    margin-bottom: 20px;
}

.rule-check {
    margin: 0;
    padding: 0;
}

.form-group input, .form-group select, .form-control {
    margin-bottom: 0;
}

.form-control:focus {
    box-shadow: none;
    border: .12rem solid var(--secondry-color);
}

.form-check-input:focus {
    border-color: var(--secondry-color);
    outline: 0;
    box-shadow: 0 0 0 0.12rem rgba(96, 205, 18, .25);
}

.form-check-input:checked {
    outline: none;
    box-shadow: none;
    border: .12rem solid var(--secondry-color);
    background-color: var(--secondry-color);
}

/*Media Query 1170px*/

@media (max-width: 1170px) {

}

/*Media Query 991px*/
@media (max-width: 991px) {
    .container {
        padding: 3rem 1rem 5rem 1rem;
        width: 90%;
        margin: 4rem 0 5rem 0;
    }

}

/*Media Query 768px*/
@media (max-width: 768px) {
    .container {
        padding: 3rem 1rem 5rem 1rem;
        width: 90%;
        border: none;
        margin: 4rem 0 5rem 0;
    }
}

/*Media Query 590px*/
@media (max-width: 590px) {

}