/*Media Query 1170px*/

@media (max-width: 1170px) {
    /*General css*/
    .section-title {
        max-width: 60%;
    }

    /*Navbar section*/
    .header .navbar-nav .nav-link {
        color: var(--text-white);
        font-size: 2rem;
        font-weight: 600;
        padding: 0 1.2rem;
        margin: 0 0;
    }

    /*hero section*/
    .hero_section {
        min-height: 100vh;
    }
}

@media (max-width: 1400px) {
    /*Navbar section*/
    .header .navbar-nav .nav-link {
        font-size: 1.8rem;
    }
}

@media (max-width: 1200px) {
    /*Navbar section*/
    .header .navbar-nav .nav-link {
        font-size: 1.4rem;
    }

}

@media (max-width: 1024px) {
    .hero_section {
        height: 100px;
    }
}

/*Media Query 991px*/
@media (max-width: 991px) {

    /*General css*/
    .about .banner_section,
    .courses .banner_section,
    .contact .banner_section {
        padding-top: 12.5rem;
        padding-bottom: 3rem;
    }

    /*01 Navbar css*/
    .header .navbar {
        background-size: cover;
        padding: 2rem;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }

    #registrationButton {
        display: none;
    }

    .footer-image {
        display: none;
    }

}

/*Media Query 768px*/
@media (max-width: 768px) {

    /*General css*/
    body, html {
        font-size: 8px;
    }

    .section-subtitle {
        max-width: 80%;
    }

    /*count section*/
    .counts_section {
        padding-top: 0;
    }

    /*hero section*/
    .hero_section {
        height: 140vh;
        padding-bottom: 0;
    }

    .hero_section .text-content {
        padding-top: 30%;
        padding-right: 0;
        text-align: center;
    }

    .hero_section .text-content .text-paragraph {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .hero_section .text-content .text-paragraph p {
        font-size: 1.6rem;
    }

    /*about section*/
    .about_section .text-content .text-paragraph p {
        text-align: center;
    }

    .about_section .text-content .text-paragraph p span {
        text-align: center;
    }

    .about-image {
        padding-top: 50px;
    }

}

/*Media Query 590px*/
@media (max-width: 590px) {

    /*General css*/
    body, html {
        font-size: 7px;
    }

    .footer_wrapper .col-sm-12 {
        padding: 5rem;
    }

    .footer_wrapper .col-lg-5,
    .footer_wrapper .col-lg-3 {
        margin: 0;
        padding: 0;
    }
}