/* General CSS */
@font-face {
    font-family: "yekan";
    src: url("../fonts/BYekan+.ttf");
}

*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root{
    /*Background Color*/
    --bg-white: #ffff;
    --bg-dark-color: #03262c;

    /*Text Colors*/
    --primary-text: #061738;
    --secondry-color: #60cd12;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #ffff;
    --text-gray: #dee2e6;
    --anchor-color: #007aff;

    /*Font Family*/
    --primary-font: 'yekan'
}

body,
html{
    color: var(--primary-text);
    font-size: 10px;
    font-weight: bold;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

h1{
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}

h2{
    color: var(--primary-text);
    font-size: 4.7rem;
    font-weight: bold;
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 2rem;
}

h3{
    color: var(--text-white);
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
}

h4{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}

h5{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-text);
}

p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1rem;
    color: var(--primary-text);
}

embed,
iframe,
img,
object{
    max-width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button{
    text-decoration: none;
    outline: 0;
}

li a {
    color: var(--text-white);
}

a:hover,
button:hover{
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background: var(--bg-white);
}

::-webkit-scrollbar-thumb{
    background: var(--secondry-color);
}

.main-btn{
    position: relative;
    color: var(--bg-white);
    background: var(--secondry-color);
    z-index: 1;
    overflow: hidden;
    border-radius: 3.5rem;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.main-btn:hover{
    background: var(--bg-white);
    color: var(--secondry-color);
}

section{
    padding: 5rem 0;
}

.section-title{
    font-size: 4.2rem;
    font-weight: bold;
    color: var(--primary-text);
    margin-bottom: 2rem;
}

.section-subtitle{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-text);
    margin: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title::after{
    content: "";
    background: var(--secondry-color);
    display: block;
    height: 3px;
    width: 90%;
    margin: 30px auto;
    margin-bottom: 0;
}

/* navbar css*/
.header{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}

.header .navbar{
    background: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 7rem;
}

.header .navbar-brand{
    width: 8.2rem;
    margin-top: -0.1rem;
}

.header .navbar-nav .nav-link{
    color: var(--text-white);
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0 1.2rem;
    margin: 0 0;
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: var(--secondry-color);
}

.header .navbar-toggler{
    color: var(--text-white);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}

.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

.header-scrolled{
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: .3s all ease-in-out;
}

/*hero section*/
.hero_section{
    min-height: 100vh;
}

.hero_section .text-content{
    padding-top: 28%;
    padding-right: 0;
}

.hero_section .text-content h1{
    display: inline;
    color: var(--dark-color);
    font-size: 8rem;
}

.hero_section .text-paragraph p{
    padding: 0.2rem 1rem;
    background-color: var(--dark-color);
    border-radius: 1.5rem;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    width: 72%;
    margin-top: 4rem;
}

.hero-image{
    padding-top: 20%;
    padding-left: 0;
    height: 90vh;
}

/*Count section*/
.counts_section{
    color: var(--primary-text);
}

.content-container{
    padding-top: 4%;
    width: 100%;
    border: 0.2rem solid var(--light-color);
    border-radius: 15px;
}

.content{
    margin-bottom: 50px;
}

.content span:first-child{
    font-size: 4rem;
    font-weight: bold;
    display: block;
}

.content span:last-child{
    font-size: 2rem;
}
/* about section*/
.about_section .text-content .text-paragraph p{
    font-size: 2rem;
    margin: 5%;
}

.about_section .text-content .text-paragraph p span{
    font-size: 2.3rem;
}

.about-image{
    padding-right: 50px;
    margin-bottom: 20px;
    }

/*Quotes section*/

/* courses css*/
.courses_section .courses-box{
    background-color: transparent;
    border: 0.4rem solid var(--light-color);
    border-radius: 15px;
    padding: 8rem 0;
    margin: 1.5rem;
    transition: all 0.3s;
}

.courses_section .courses-icon-border{
    background-color: transparent;
    border-radius: 50%;
    border: 0.4rem solid var(--light-color);
    padding: 1.3rem;
    display: inline-block;
}

.courses_section .courses-box .courses-icon{
    height: 6.5rem;
    width: 6.5rem;
    background-color: var(--light-color);
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses_section .courses-box .courses-icon i{
    width: 3.7rem;
    font-size: 4rem;
}

.courses_section .courses-box h3{
    margin-top: 1.5rem;
    color: var(--primary-text);
}

.courses_section .courses-box p{
    font-size: 2rem;
    font-weight: bold;
}

.courses_section .courses-box:hover{
    background-color: var(--bg-dark-color);
    border-color: var(--bg-dark-color);
}

.courses_section .courses-box:hover h3{
    color: var(--text-white);
}

.courses_section .courses-box:hover p{
    color: var(--text-white);
}

.courses_section .courses-box:hover .courses-icon-border{
    border-color: var(--secondry-color);
}

/* Enroll */

/* testimonial*/
.testimonial-profile-column{
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-item .profile {
    position: relative;
    padding: 7rem 7rem;
    padding-bottom: 4rem;
    border: 0.4rem solid var(--light-color);
    border-radius: 15px;
    text-align: center;
    width: 90%;
}

.carousel-item .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    border: 15px solid var(--bg-white);
}

.carousel-item .profile p {
    margin: 50px 0;
    font-size: 2.2rem;
}

.carousel-item .profile h4 {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}

.carousel-item .profile span {
    font-size: 1.8rem;
}

.carousel-button .carousel-control-prev i,
.carousel-button .carousel-control-next i {
    color: var(--bg-dark-color);
    font-size: 5rem;
    font-weight: bolder;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.carousel-button .carousel-control-prev i:hover,
.carousel-button .carousel-control-next i:hover {
    color: var(--secondry-color);
}

/* Footer*/
.footer_wrapper{
    background: url("../images/footer-bg/footer_bg.png");
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    padding-top: 20rem;
}

.footer_wrapper h5{
    color: var(--text-white);
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.footer_wrapper p{
    color: var(--text-gray);
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer_wrapper ul li{
    margin-bottom: 0.5rem;
    list-style: none;
}

.footer_wrapper .contact-info li a{
    color: var(--text-gray);
    font-size: 1.6rem;
    font-weight: bold;
}

.footer_wrapper .contact-info li a i{
    margin-left: 1.5rem;
    padding-right: 3rem;
}

.footer_wrapper .link-widget li a{
    color: var(--text-gray);
    font-size: 1.6rem;
    font-weight: bold;
    padding-right: 2rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer_wrapper .link-widget li a:before{
    font-family: 'Font Awesome 5 Free';
    content: "\f104";
    font-weight: 900;
    position: absolute;
    right: 0.3rem;
    top: 50%;
    -webkit-transform:translateY(-50%);
    transform: translateY(-50%);
}

.footer_wrapper .link-widget li a:hover{
    margin-right: 0.625rem;
    color: var(--secondry-color);
}

.footer_wrapper .social-network li a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_wrapper .social-network a{
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
    line-height: 3.2rem;
    margin: 0.5rem;
    display: inline-block;
    border: 0.125rem solid var(--text-gray);
    color: var(--text-gray);
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-network a:hover{
    background-color: var(--secondry-color);
    border-color: var(--secondry-color);
    color: var(--text-white);
    box-shadow: 0 0.625rem 0.9375rem 0 rgb(0 0 0 / 10%);
    transform: translateY(-0.1875rem);
}

.footer_wrapper .form-control{
    font-size: 2rem;
    color: var(--text-white);
}

.footer_wrapper .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--secondry-color);
}

.footer-image{
    width: 12rem;
    margin-bottom: 3rem;
}

.to-top-btn{
    position: fixed;
    background-color: var(--text-gray);
    z-index: 99;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    bottom: 13%;
    left: 3%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

body.scroll-behavior {
    scroll-behavior: smooth;
}

.to-top-btn i{
    font-size: 40px;
    transition: all 0.3s ease-in-out;
}

.to-top-btn i:hover{
    color: var(--secondry-color);
}

/*Copyright section*/
.copyright_section{
    background-color: var(--secondry-color);
    text-align: center;
    padding: 0;
}

.copyright_section p{
    font-size: 1.8rem;
    padding: 1rem 0;
    margin: 0;
}