<!doctype html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/icon/logo.png">
    <title>مدرسه انوار القرآن</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
</head>
<body>
    <div class="root">

        <!-- Home -->
        <section class="home-section">
                <header class="header-container">
                    <div class="site-header">
                        <a href="#">
                        <img src="../static/icon/logo.png" alt="لوگوی مدرسه انوار القرآن">
                        </a>
                        <ul>
                            <li><a href="#">صفحه اصلی</a></li>
                            <li><a href="#">سوال و جواب شرعی</a></li>
                            <li><a href="#">کتابخانه</a></li>
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">ارتباط با ما</a></li>
                        </ul>
                    </div>
                </header>
                <div class="home-text">
                    <p class="madrasa-name">مدرســـه <span>انوارالقرآن</span></p>
                    <p class="madrasa-sologan">مرکز آموزش علـوم اسلامی بصورت حضوری و آنلاین</p>
                </div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099FF" fill-opacity="1" d="M0,160L120,186.7C240,213,480,267,720,256C960,245,1200,171,1320,133.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
        </section>

        <!-- Intro -->
        <section class="intro-section">
            <div class="intro-section-btn">
                 <button class="manager-btn active" onclick="changeActiveButton(this, 'manager')">توجــــــــه به تربیــــــه ســــــــالم</button>
                 <button class="assistance-btn" onclick="changeActiveButton(this, 'assistance')">توجـــــــه به آمــــــوزش ســــــــالم</button>
            </div>
            <div class="teachers-about">
                <img src="../static/image/1.jpg"  class="couple-bro-pic" id="couple-bro-img" >
                <p id="couple-bro-description">حافظ عبدالحی حقپرست مدیر مدرسه انوار القرآن</p>
            </div>
        </section>

        <!-- Why This academy -->
        <section class="why-about-section">
            <h1>چرا مدرسه انوارالقرآن ؟</h1>
            <p>
                چرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآن
                چرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآنچرا مدرسه انوارالقرآن</p>
        </section>

        <!-- About -->
        <section class="counters-section">
            <div class="counter">
                <h1><span data-count="500+">0</span></h1>
                <h3>شاگردان</h3>
            </div>
            <div class="counter">
                <h1><span data-count="500+">0</span></h1>
                <h3>شاگردان فارغ شده</h3>
            </div>
            <div class="counter">
                <h1><span data-count="500+">0</span></h1>
                <h3>استادان</h3>
            </div>

        </section>


        <!-- Course -->
        <section class="our-courses">
          <div class="courses-heading">
            <h1>برنامه های آموزشی</h1>
            <p>
              با استادان متخصص از طبقه ذکور و اناث
            </p>
          </div>
        <div class="courses-parts">
            <div class="rokhowani">
              <i class='bx bxs-book-open'></i>
              <span>روخوانی قرآنکریم</span>
              <p>از مبتدی تا پیشرفته</p>
            </div>
            <div class="tajwid">
              <i class='bx bxs-microphone' ></i>
              <span>تجوید و حسن قرائت</span>
              <p>به صورت عملی و نظری</p>
            </div>
            <div class="tarjoma">
              <i class='bx bxs-note' ></i>
              <span>ترجمه و تفسیر قرآنکریم</span>
              <p>به صورت عملی و نظری --- قابل تغییر</p>
            </div>
            <div class="feqhah">
              <i class='bx bxs-notepad'></i>
              <span>فقه ابتدایی</span>
              <p>مورد نیاز هر فرد مسلمانان --- قابل تغییر</p>
            </div>
            <div class="aqeedah">
              <i class='bx bxs-brain'></i>
              <span>عقیده اسلامی</span>
              <p>مورد نیاز هر فرد مسلمانان --- قابل تغییر</p>
            </div>
            <div class="aoloom-quran">
              <i class='bx bxs-book-alt' ></i>
              <span>علوم قرآن</span>
              <p>مورد نیاز هر فرد مسلمانان --- قابل تغییر</p>
            </div>
          </div>
        </section>

        <!-- Enroll -->
        <section class="enroll">
          <div class="enroll-overlay">
            <p>می خواهید اشتراک کنید</p>
            <p>
              می توانید با کلیک کردن به دکمه اشتراک به صنف های ما بپیوندید<br />
              و یا با دکمه ثبت نام؛ نام نویسی نمایید
            </p>
            <div class="enroll-button">
              <button>اشتراک</button>
              <button>ثبت نام</button>
            </div>
          </div>
        </section>

        <!-- testimonial-section -->
        <section class="testimonial-section">
        </section>

        <!-- Footer -->
        <section class="footer">
          <footer class="footer-content">
            <div class="contacts">
              <h1>ارتباط با ما</h1>
              <p>
                <i class="bx bxs-location-plus"></i>آدرس: کابل، ناحیه سوم، دهمزنگ، کوچه ریاست ترافیک، مقابل اعمالت خانه پولیس
              </p>
              <p><i class="bx bxs-phone"></i>شماره موبایل: 0093798182521</p>
              <p><i class="bx bxl-whatsapp"></i>شماره واتسپ: 0093798182521</p>
              <p>
                <i class="bx bxs-envelope"></i>آدرس ایمیل: info@anwarul-quran.com
              </p>
            </div>
            <div class="courses">
              <h1>لینک های مفید</h1>
              <p><a href="">صفحه اصلی</a></p>
              <p><a href="">سوال و جواب شرعی</a></p>
              <p><a href="">اشتراک</a></p>
              <p><a href="">ثبت نام</a></p>
            </div>
            <div class="hero--social-icon">
                <h1>ما را در شبکه های اجتماعی دنبال نمایید</h1>
                <a href=""><i class="bx bxl-youtube"></i></a>
                <a href=""><i class="bx bxl-facebook"></i></a>
                <a href=""><i class='bx bxl-skype'></i></a>
                <a href=""><i class="bx bxl-whatsapp"></i></a>
              </div>
          </footer>
        </section>

        <!-- Copyright -->
        <section class="copyright">
          <h1>همه حقوق این سایت برای مدرسه انوار القرآن محفوظ است</h1>
        </section>

        <!-- End -->
    </div>
</body>
    <script src="../static/js/main.js"></script>
</html>